{{! Reset Password View --}}
<main class="form-signin w-100 m-auto mt-5">
  <form action="/reset" method="post">
    <h1 class="h3 mb-3 fw-normal text-center">Reset password</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" name="email" id="floatingInput" placeholder="Enter your email" required />
      <label for="floatingInput">Email</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Reset</button>
    <a href="/" class="w-100 btn btn-lg btn-warning">Back</a>
  </form>
</main>
