{{! views/commerce/index.hbs }}

<div class="container mt-5">
  <h1 class="text-center">Commerce Dashboard</h1>
  <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header bg-danger text-white">
          <h5>Manage Orders</h5>
        </div>
        <div class="card-body">
          <p>Manage the orders for your commerce!.</p>
          <a href="/commerce-orders" class="btn btn-danger w-100">Manage Orders</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5>Manage Products</h5>
        </div>
        <div class="card-body">
          <p>View, edit, and add new products to your store.</p>
          <a href="/product-list" class="btn btn-primary w-100">Manage Products</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h5>Manage Categories</h5>
        </div>
        <div class="card-body">
          <p>Track and manage categories, update them, and more.</p>
          <a href="/category-list" class="btn btn-success w-100">Manage Categories</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h5>My Profile</h5>
        </div>
        <div class="card-body">
          <p>View and edit your profile.</p>
          <a href="/commerce-profile" class="btn btn-dark w-100">View Profile</a>
        </div>
      </div>
    </div>

  </div>
</div>