<main class="container">
    <form action="/save-product" method="post" enctype="multipart/form-data">
        <h1 class="h3 mb-3 fw-normal">Create a Product</h1>

        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="image">Image</label>
            <input type="file" name="image" id="image" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="categoryId">Category</label>
            <select name="categoryId" id="categoryId" class="form-control" required>
                {{#each categories}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <button class="btn btn-primary w-100" type="submit">Create</button>
        <a href="/product-list" class="btn btn-warning w-100 mt-2">Back</a>
    </form>
</main>