{{! views/delivery/delivery-profile.hbs }}

<main class="container">
    <form action="/update-profile" method="post" enctype="multipart/form-data">
        <h1 class="h3 mb-3 fw-normal text-center">My Profile</h1>

        <div class="mb-3">
            <label for="name">Name</label>
            <input value="{{delivery.name}}" type="text" class="form-control" name="name" id="name" required />
        </div>

        <div class="mb-3">
            <label for="lastName">Last Name</label>
            <input value="{{delivery.lastName}}" type="text" class="form-control" name="lastName" id="lastName"
                required />
        </div>

        <div class="mb-3">
            <label for="phone">Phone</label>
            <input value="{{delivery.phone}}" type="text" class="form-control" name="phone" id="phone" required />
        </div>

        <div class="mb-3">
            <label for="profilePicture">Profile Picture</label>
            <input type="file" class="form-control" name="image" id="profilePicture" />
            {{#if delivery.profilePicture}}
            <img src="{{delivery.profilePicture}}" alt="Profile Picture" width="100" class="mt-2" />
            {{/if}}
        </div>

        <button class="btn btn-primary w-100" type="submit">Save Changes</button>
        <a href="/delivery-home" class="btn btn-warning w-100 mt-2">Back</a>
    </form>
</main>